* {
    outline: none;
    user-select: none;
}

body {
    background: #55aaaa;
    padding: 16px;
    image-rendering: pixelated;
}

@font-face {
    font-family: "MS-Sans";
    src: url("../assets/font/MS-Sans-Serif.ttf");
}

@font-face {
    font-family: "FSEX";
    src: url("../assets/font/FSEX302.ttf");
}

.window {
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    background-color: #c3c7cb;
    border: 4px solid transparent;
    border-image: url(../assets/ui/win_border.png) 4 stretch;
    position: absolute;
}

.winInner {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 2px solid transparent;
    border-image: url(../assets/ui/win_inner_border.png) 2 stretch;
}

.winHeader {
    color: white;
    background: #0000aa;
    font-family: "MS-Sans";
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-shadow: 1px 0 white;

    height: 18px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    z-index: 4;
}

.winHeader * {
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    margin-top: -2px;
    z-index: 10;

}

#toppy {
    z-index: 20;
}

.winHeaderButt {
    margin-top: 2px;
    float: right;
}

.winMenu {
    color: black;
    font-family: "MS-Sans";
    line-height: 19px;
    font-size: 0;
    background-color: #c3c7cb;
    height: 18px;
    margin-bottom: 1px;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.winMenuButt {
    font-size: 10px;
    display: inline-block;
    margin: 0 4px;
    padding: 0 4px;
}

.winTabSet {
    color: black;
    font-size: 0;

    height: 18px;
    margin: 9px 10px 0;
    position: relative;
}

.winTab {
    background-color: transparent;
    font-family: "MS-Sans";
    height: 18px;
    font-size: 10px;
    display: inline-block;
    padding: 0 4px;
    transform: translateY(-2px);
    border: 2px solid transparent;
    border-image: url(../assets/ui/win_tab_border.png) 2 stretch;
}

.winTab.active {
    height: 22px;
    z-index: 9999;
    transform: translateY(-2px);
    border-image: url(../assets/ui/win_tab_a_border.png) 2 stretch;
}

.winTabMain {
    margin: 0 4px 1px;
    padding: 4px;
    border: 4px solid transparent;
    border-image: url(../assets/ui/win_border.png) 4 stretch;
}

#gameContainer {
    width: 900px;
    top: 20px;
    left: 20px;
}

#gameContainer>#codeWrapper {
    width: 100%;
    padding: 0;
    max-height: 500px;
}

#codeWrapper pre {
    overflow-x: hidden;
}

#messagesContainer {
    width: 300px;
    padding-bottom: 4px;
    z-index: 1000;
    right: 20px;
    top: 20px;
}

#inboxContent,
#groupContent {
    margin: -4px;
    padding: 8px;
    font-size: 14px;
    font-family: "MS-Sans";
    line-height: 1.5;
    min-height: 200px;
    max-height: 400px;
    display: none;
}

#inboxContent.active,
#groupContent.active {
    display: block;
}

#startDebuggingButton {
    margin-left: 4px;
    margin-top: 12px;
}

#statsContainer {
    font-family: "MS-Sans";
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 1.5px;
    width: 500px;
    z-index: 1000;
    left: 20px;
    top: 80%;
    background-color: #c3c7cb;
}

.stats {
    display: flex;
    align-items: center;
    background-color: #c3c7cb;
    padding: 2px;
    border-color: #c3c7cb;
    border: 2px;
    left: 2px;
}

.grid {
    display: grid;
    grid-template-columns: 75vw auto;
    grid-column-gap: 2vw;

}

.bug {
    float: left;
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);

    transform: rotate(0deg);
}

#taskbarContainer {
    display: none;
    position: fixed;
    bottom: -2px;
    margin-left: -18px;
    height: 30px;
    font-size: 0;
    width: calc(100% + 36px);
    font-family: "MS-Sans";
    z-index: 99999999;
}

.miniProgram {
    display: inline-block;
    height: 22px;
    margin: 0px 2px;
    padding: 0 0px;
    border: 4px solid red;
    border-image: url(../assets/ui/win_border.png) 4 stretch;
    width: 140px;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-shadow: 1px 0 black;
}

.clicked {
    border-image: url(../assets/ui/win_inner_border_4.png) 4 stretch;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: none;
}

.miniProgram * {
    vertical-align: middle;
}

.miniProgram img {
    transform: translateY(-1px);
}

#startMenu {
    height: 22px;
    width: initial;
}

.window button {
    font-family: "MS-Sans";
    font-size: 12px;
    position: relative;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login {
    height: 120px;
    width: 450px;
    text-align: left;
    overflow: hidden;
    border-image: url(../assets/ui/win_border.png) 4 stretch;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 225px);
    font-family: "MS-Sans";
    font-size: 12px;
}

.login input {
    font-family: "MS-Sans";
    font-size: 12px;
    background-color: #fff;
    border: 2px solid transparent;
    border-image: url(../assets/ui/win_inner_border.png) 2 stretch;
}

.login button {
    width: 70px;
    margin-bottom: 8px;
}

.login button.rec {
    box-shadow: 0 0 0 1px black;
}