#gameContainer {
    height:60vh;
    padding:4vh 4vw;
    overflow:hidden;
}

.window {
    border-style: solid;
    border-color: blue;
    border-width: 35px 3px 3px 3px;
}

.window h1 {
    margin-top:-55px;
    margin-left:5px; 
    color:white;
    background-color: blue;
}

#messagesContainer {
    overflow:hidden;
    padding:2vh 2vw;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(196, 189, 189);
}

.email {
    
}

.group {

}